HM.Operations.Secure.Middleware/Service References/UserManagementService/LDAPServiceDelegate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://service.ums.eb0.mellon.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://domainobjects.ums.eb0.mellon.com" xmlns:impl="http://service.ums.eb0.mellon.com" targetNamespace="http://service.ums.eb0.mellon.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service.ums.eb0.mellon.com">
      <xsd:import namespace="http://domainobjects.ums.eb0.mellon.com" />
      <xsd:element name="addUser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="impl:LDAPUser" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="LDAPUser">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="attrSet" nillable="true" type="tns1:UserAttribute" />
          <xsd:element name="dn" nillable="true" type="xsd:string" />
          <xsd:element name="institution" nillable="true" type="xsd:string" />
          <xsd:element name="uid" nillable="true" type="xsd:string" />
          <xsd:element name="forcePasswordReset" nillable="true" type="xsd:string" />
          <xsd:element name="accountLock" nillable="true" type="xsd:string" />
          <xsd:element name="userType" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="addUserResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="addUserReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="UMSSystemFault">
        <xsd:sequence>
          <xsd:element name="errorCode" type="xsd:int" />
          <xsd:element name="errorMessage" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="UMSSystemFault" type="impl:UMSSystemFault" />
      <xsd:complexType name="UMSServiceFault">
        <xsd:sequence>
          <xsd:element name="errorCode" type="xsd:int" />
          <xsd:element name="errorMessage" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="UMSServiceFault" type="impl:UMSServiceFault" />
      <xsd:element name="removeUserFromGroups">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userId" type="xsd:string" />
            <xsd:element maxOccurs="unbounded" name="groupNames" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="removeUserFromGroupsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="removeUserFromGroupsReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addUserToGroups">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userId" type="xsd:string" />
            <xsd:element maxOccurs="unbounded" name="groupNames" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addUserToGroupsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="addUserToGroupsReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="renameUser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userId" type="xsd:string" />
            <xsd:element name="newID" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="renameUserResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="renameUserReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="modifyUser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="impl:LDAPUser" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="modifyUserResponse">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="lookupUserByUserId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userId" type="xsd:string" />
            <xsd:element maxOccurs="unbounded" name="attribNames" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lookupUserByUserIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lookupUserByUserIdReturn" type="impl:SearchResultUser" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="MultiValuedAttribute">
        <xsd:sequence>
          <xsd:element name="key" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="value" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SearchResultUser">
        <xsd:sequence>
          <xsd:element name="accountStatus" nillable="true" type="xsd:string" />
          <xsd:element name="DN" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="userAttributes" nillable="true" type="impl:MultiValuedAttribute" />
          <xsd:element name="userId" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="resetPassword">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userId" type="xsd:string" />
            <xsd:element name="newPassword" type="xsd:string" />
            <xsd:element name="forcePwdChange" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="resetPasswordResponse">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="resetPasswordNexenWhiteLabel">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userId" type="xsd:string" />
            <xsd:element name="newPassword" type="xsd:string" />
            <xsd:element name="rsaAAOrgId" type="xsd:string" />
            <xsd:element name="forcePwdChange" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="resetPasswordNexenWhiteLabelResponse">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="searchByFilter">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="searchInfo" type="impl:SearchCriteria" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Attribute">
        <xsd:sequence>
          <xsd:element name="key" nillable="true" type="xsd:string" />
          <xsd:element name="value" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SearchCriteria">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="filterAttrbs" nillable="true" type="impl:Attribute" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="lookupForAttrbs" nillable="true" type="xsd:string" />
          <xsd:element name="userType" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="searchByFilterResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="searchByFilterReturn" type="impl:SearchResultUser" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="terminateUser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userId" type="xsd:string" />
            <xsd:element name="adminNote" type="xsd:string" />
            <xsd:element name="highRiskUserFlag" type="impl:FlagValue" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="FlagValue">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="SET" />
          <xsd:enumeration value="RESET" />
          <xsd:enumeration value="DONOT_CHANGE" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="terminateUserResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="terminateUserReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="setAccountStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userId" type="xsd:string" />
            <xsd:element name="statusFlag" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="setAccountStatusResponse">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="preValidatePassword">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userId" type="xsd:string" />
            <xsd:element name="pwdTxt" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="preValidatePasswordResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="preValidatePasswordReturn" type="tns1:PasswordValidationStatus" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="resetPasswordAndSuppressEmail">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userId" type="xsd:string" />
            <xsd:element name="pwdVal" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="resetPasswordAndSuppressEmailResponse">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="addUserSimplified">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="impl:LDAPUser" />
            <xsd:element name="newPassword" type="xsd:string" />
            <xsd:element name="isPwdTemp" type="xsd:boolean" />
            <xsd:element name="statusFlag" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addUserSimplifiedResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="addUserSimplifiedReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="UMSServiceException">
        <xsd:sequence>
          <xsd:element name="errorCode" type="xsd:int" />
          <xsd:element name="errorMessage" type="xsd:string" />
          <xsd:element name="errorCodeStr" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="UMSServiceException" type="impl:UMSServiceException" />
      <xsd:element name="addUserToEcomGroups">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userId" type="xsd:string" />
            <xsd:element maxOccurs="unbounded" name="groupNames" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addUserToEcomGroupsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="addUserToEcomGroupsReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="removeUserFromEcomGroups">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userId" type="xsd:string" />
            <xsd:element maxOccurs="unbounded" name="groupNames" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="removeUserFromEcomGroupsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="removeUserFromEcomGroupsReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="setAccountStatusRsaSync">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userId" type="xsd:string" />
            <xsd:element name="statusFlag" type="xsd:string" />
            <xsd:element name="rsaAaOrgId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="setAccountStatusRsaSyncResponse">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="renameUserRSASync">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userId" type="xsd:string" />
            <xsd:element name="newID" type="xsd:string" />
            <xsd:element name="rsaAaOrgId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="renameUserRSASyncResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ranameUserRSASyncReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="terminateUserRSASync">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userId" type="xsd:string" />
            <xsd:element name="adminNote" type="xsd:string" />
            <xsd:element name="highRiskUserFlag" type="impl:FlagValue" />
            <xsd:element name="rsaAaOrgId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="terminateUserRSASyncResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="terminateUserRSASyncReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lookupUserByUserIdRsaOrg">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userId" type="xsd:string" />
            <xsd:element maxOccurs="unbounded" name="attribNames" type="xsd:string" />
            <xsd:element name="rsaAaOrgId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="lookupUserByUserIdRsaOrgResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lookupUserByUserIdRsaOrgReturn" type="impl:SearchResultUser" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="removeUserFromRSAGroup">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userId" type="xsd:string" />
            <xsd:element name="rsaAaOrgId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="removeUserFromRSAGroupResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="removeUserFromRSAGroupReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getLastUpdatedAdmin">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userLdapId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getLastUpdatedAdminResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="auditObjects" type="impl:AuditObject" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="AuditObject">
        <xsd:sequence>
          <xsd:element name="auditTimeStamp" type="xsd:string" />
          <xsd:element name="userLdapId" type="xsd:string" />
          <xsd:element name="adminLdapId" type="xsd:string" />
          <xsd:element name="adminFname" type="xsd:string" />
          <xsd:element name="adminLname" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="addUserToLDAPGroup">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userId" type="xsd:string" />
            <xsd:element maxOccurs="unbounded" name="groupNames" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addUserToLDAPGroupResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="addUserToLDAPGroupReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="removeUserFromLDAPGroup">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userId" type="xsd:string" />
            <xsd:element maxOccurs="unbounded" name="groupNames" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="removeUserFromLDAPGroupResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="removeUserFromLDAPGroupReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="setAccountStatusAndResetPassword">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userId" type="xsd:string" />
            <xsd:element name="lockOrUnlockFlag" type="xsd:boolean" />
            <xsd:element name="lockOrUnlockValue" type="xsd:string" />
            <xsd:element name="resetPasswordFlag" type="xsd:boolean" />
            <xsd:element name="newPasswordValue" type="xsd:string" />
            <xsd:element name="forcePasswordChangeFlag" type="xsd:boolean" />
            <xsd:element name="suppressEmailFlag" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="setAccountStatusAndResetPasswordResponse">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="modifyUserEmailAddressSuppressEmail">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="impl:LDAPWhiteLabelUser" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="LDAPWhiteLabelUser">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="attrSet" nillable="true" type="tns1:UserAttribute" />
          <xsd:element name="dn" nillable="true" type="xsd:string" />
          <xsd:element name="uid" nillable="true" type="xsd:string" />
          <xsd:element name="rsaOrg" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="modifyUserEmailAddressSuppressEmailResponse">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="modifyUserEmailAddressNexenWhiteLabel">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="impl:LDAPUserWhiteLabel" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="LDAPUserWhiteLabel">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="attrSet" nillable="true" type="tns1:UserAttribute" />
          <xsd:element name="dn" nillable="true" type="xsd:string" />
          <xsd:element name="uid" nillable="true" type="xsd:string" />
          <xsd:element name="rsaOrg" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="modifyUserEmailAddressNexenWhiteLabelResponse">
        <xsd:complexType />
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://domainobjects.ums.eb0.mellon.com">
      <xsd:import namespace="http://service.ums.eb0.mellon.com" />
      <xsd:complexType name="UserAttribute">
        <xsd:sequence>
          <xsd:element name="attrName" nillable="true" type="xsd:string" />
          <xsd:element name="required" type="xsd:boolean" />
          <xsd:element name="permissionString" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="values" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Status">
        <xsd:sequence>
          <xsd:element name="validationErrorCode" type="xsd:int" />
          <xsd:element name="validationErrorMessage" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PasswordValidationStatus">
        <xsd:sequence>
          <xsd:element name="password" nillable="true" type="xsd:string" />
          <xsd:element name="userId" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="validationStatus" nillable="true" type="tns1:Status" />
          <xsd:element name="valid" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="modifyUserRequest">
    <wsdl:part name="parameters" element="impl:modifyUser" />
  </wsdl:message>
  <wsdl:message name="searchByFilterResponse">
    <wsdl:part name="parameters" element="impl:searchByFilterResponse" />
  </wsdl:message>
  <wsdl:message name="terminateUserRequest">
    <wsdl:part name="parameters" element="impl:terminateUser" />
  </wsdl:message>
  <wsdl:message name="setAccountStatusAndResetPasswordRequest">
    <wsdl:part name="parameters" element="impl:setAccountStatusAndResetPassword" />
  </wsdl:message>
  <wsdl:message name="setAccountStatusAndResetPasswordResponse">
    <wsdl:part name="parameters" element="impl:setAccountStatusAndResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="addUserToGroupsRequest">
    <wsdl:part name="parameters" element="impl:addUserToGroups" />
  </wsdl:message>
  <wsdl:message name="addUserToEcomGroupsRequest">
    <wsdl:part name="parameters" element="impl:addUserToEcomGroups" />
  </wsdl:message>
  <wsdl:message name="modifyUserEmailAddressSuppressEmailResponse">
    <wsdl:part name="parameters" element="impl:modifyUserEmailAddressSuppressEmailResponse" />
  </wsdl:message>
  <wsdl:message name="renameUserRSASyncResponse">
    <wsdl:part name="parameters" element="impl:renameUserRSASyncResponse" />
  </wsdl:message>
  <wsdl:message name="modifyUserEmailAddressNexenWhiteLabelResponse">
    <wsdl:part name="parameters" element="impl:modifyUserEmailAddressNexenWhiteLabelResponse" />
  </wsdl:message>
  <wsdl:message name="resetPasswordResponse">
    <wsdl:part name="parameters" element="impl:resetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="removeUserFromEcomGroupsRequest">
    <wsdl:part name="parameters" element="impl:removeUserFromEcomGroups" />
  </wsdl:message>
  <wsdl:message name="getLastUpdatedAdminResponse">
    <wsdl:part name="parameters" element="impl:getLastUpdatedAdminResponse" />
  </wsdl:message>
  <wsdl:message name="resetPasswordAndSuppressEmailResponse">
    <wsdl:part name="parameters" element="impl:resetPasswordAndSuppressEmailResponse" />
  </wsdl:message>
  <wsdl:message name="UMSServiceFault">
    <wsdl:part name="UMSServiceFault" element="impl:UMSServiceFault" />
  </wsdl:message>
  <wsdl:message name="resetPasswordNexenWhiteLabelRequest">
    <wsdl:part name="parameters" element="impl:resetPasswordNexenWhiteLabel" />
  </wsdl:message>
  <wsdl:message name="setAccountStatusRequest">
    <wsdl:part name="parameters" element="impl:setAccountStatus" />
  </wsdl:message>
  <wsdl:message name="addUserToGroupsResponse">
    <wsdl:part name="parameters" element="impl:addUserToGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="removeUserFromEcomGroupsResponse">
    <wsdl:part name="parameters" element="impl:removeUserFromEcomGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="modifyUserEmailAddressSuppressEmailRequest">
    <wsdl:part name="parameters" element="impl:modifyUserEmailAddressSuppressEmail" />
  </wsdl:message>
  <wsdl:message name="terminateUserResponse">
    <wsdl:part name="parameters" element="impl:terminateUserResponse" />
  </wsdl:message>
  <wsdl:message name="renameUserResponse">
    <wsdl:part name="parameters" element="impl:renameUserResponse" />
  </wsdl:message>
  <wsdl:message name="addUserToLDAPGroupRequest">
    <wsdl:part name="parameters" element="impl:addUserToLDAPGroup" />
  </wsdl:message>
  <wsdl:message name="addUserSimplifiedResponse">
    <wsdl:part name="parameters" element="impl:addUserSimplifiedResponse" />
  </wsdl:message>
  <wsdl:message name="renameUserRequest">
    <wsdl:part name="parameters" element="impl:renameUser" />
  </wsdl:message>
  <wsdl:message name="getLastUpdatedAdminRequest">
    <wsdl:part name="parameters" element="impl:getLastUpdatedAdmin" />
  </wsdl:message>
  <wsdl:message name="addUserRequest">
    <wsdl:part name="parameters" element="impl:addUser" />
  </wsdl:message>
  <wsdl:message name="searchByFilterRequest">
    <wsdl:part name="parameters" element="impl:searchByFilter" />
  </wsdl:message>
  <wsdl:message name="renameUserRSASyncRequest">
    <wsdl:part name="parameters" element="impl:renameUserRSASync" />
  </wsdl:message>
  <wsdl:message name="lookupUserByUserIdRequest">
    <wsdl:part name="parameters" element="impl:lookupUserByUserId" />
  </wsdl:message>
  <wsdl:message name="removeUserFromLDAPGroupResponse">
    <wsdl:part name="parameters" element="impl:removeUserFromLDAPGroupResponse" />
  </wsdl:message>
  <wsdl:message name="removeUserFromGroupsRequest">
    <wsdl:part name="parameters" element="impl:removeUserFromGroups" />
  </wsdl:message>
  <wsdl:message name="setAccountStatusRsaSyncRequest">
    <wsdl:part name="parameters" element="impl:setAccountStatusRsaSync" />
  </wsdl:message>
  <wsdl:message name="lookupUserByUserIdRsaOrgResponse">
    <wsdl:part name="parameters" element="impl:lookupUserByUserIdRsaOrgResponse" />
  </wsdl:message>
  <wsdl:message name="modifyUserResponse">
    <wsdl:part name="parameters" element="impl:modifyUserResponse" />
  </wsdl:message>
  <wsdl:message name="addUserResponse">
    <wsdl:part name="parameters" element="impl:addUserResponse" />
  </wsdl:message>
  <wsdl:message name="setAccountStatusResponse">
    <wsdl:part name="parameters" element="impl:setAccountStatusResponse" />
  </wsdl:message>
  <wsdl:message name="setAccountStatusRsaSyncResponse">
    <wsdl:part name="parameters" element="impl:setAccountStatusRsaSyncResponse" />
  </wsdl:message>
  <wsdl:message name="UMSSystemFault">
    <wsdl:part name="UMSSystemFault" element="impl:UMSSystemFault" />
  </wsdl:message>
  <wsdl:message name="removeUserFromRSAGroupResponse">
    <wsdl:part name="parameters" element="impl:removeUserFromRSAGroupResponse" />
  </wsdl:message>
  <wsdl:message name="modifyUserEmailAddressNexenWhiteLabelRequest">
    <wsdl:part name="parameters" element="impl:modifyUserEmailAddressNexenWhiteLabel" />
  </wsdl:message>
  <wsdl:message name="removeUserFromLDAPGroupRequest">
    <wsdl:part name="parameters" element="impl:removeUserFromLDAPGroup" />
  </wsdl:message>
  <wsdl:message name="removeUserFromRSAGroupRequest">
    <wsdl:part name="parameters" element="impl:removeUserFromRSAGroup" />
  </wsdl:message>
  <wsdl:message name="resetPasswordAndSuppressEmailRequest">
    <wsdl:part name="parameters" element="impl:resetPasswordAndSuppressEmail" />
  </wsdl:message>
  <wsdl:message name="terminateUserRSASyncResponse">
    <wsdl:part name="parameters" element="impl:terminateUserRSASyncResponse" />
  </wsdl:message>
  <wsdl:message name="preValidatePasswordResponse">
    <wsdl:part name="parameters" element="impl:preValidatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="lookupUserByUserIdResponse">
    <wsdl:part name="parameters" element="impl:lookupUserByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="resetPasswordNexenWhiteLabelResponse">
    <wsdl:part name="parameters" element="impl:resetPasswordNexenWhiteLabelResponse" />
  </wsdl:message>
  <wsdl:message name="UMSServiceException">
    <wsdl:part name="UMSServiceException" element="impl:UMSServiceException" />
  </wsdl:message>
  <wsdl:message name="addUserToLDAPGroupResponse">
    <wsdl:part name="parameters" element="impl:addUserToLDAPGroupResponse" />
  </wsdl:message>
  <wsdl:message name="removeUserFromGroupsResponse">
    <wsdl:part name="parameters" element="impl:removeUserFromGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="resetPasswordRequest">
    <wsdl:part name="parameters" element="impl:resetPassword" />
  </wsdl:message>
  <wsdl:message name="preValidatePasswordRequest">
    <wsdl:part name="parameters" element="impl:preValidatePassword" />
  </wsdl:message>
  <wsdl:message name="terminateUserRSASyncRequest">
    <wsdl:part name="parameters" element="impl:terminateUserRSASync" />
  </wsdl:message>
  <wsdl:message name="addUserToEcomGroupsResponse">
    <wsdl:part name="parameters" element="impl:addUserToEcomGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="addUserSimplifiedRequest">
    <wsdl:part name="parameters" element="impl:addUserSimplified" />
  </wsdl:message>
  <wsdl:message name="lookupUserByUserIdRsaOrgRequest">
    <wsdl:part name="parameters" element="impl:lookupUserByUserIdRsaOrg" />
  </wsdl:message>
  <wsdl:portType name="LDAPServiceDelegate">
    <wsdl:operation name="addUser">
      <wsdl:input name="addUserRequest" message="impl:addUserRequest" />
      <wsdl:output name="addUserResponse" message="impl:addUserResponse" />
      <wsdl:fault name="UMSServiceFault" message="impl:UMSServiceFault" />
      <wsdl:fault name="UMSSystemFault" message="impl:UMSSystemFault" />
    </wsdl:operation>
    <wsdl:operation name="removeUserFromGroups">
      <wsdl:input name="removeUserFromGroupsRequest" message="impl:removeUserFromGroupsRequest" />
      <wsdl:output name="removeUserFromGroupsResponse" message="impl:removeUserFromGroupsResponse" />
      <wsdl:fault name="UMSServiceFault" message="impl:UMSServiceFault" />
      <wsdl:fault name="UMSSystemFault" message="impl:UMSSystemFault" />
    </wsdl:operation>
    <wsdl:operation name="addUserToGroups">
      <wsdl:input name="addUserToGroupsRequest" message="impl:addUserToGroupsRequest" />
      <wsdl:output name="addUserToGroupsResponse" message="impl:addUserToGroupsResponse" />
      <wsdl:fault name="UMSServiceFault" message="impl:UMSServiceFault" />
      <wsdl:fault name="UMSSystemFault" message="impl:UMSSystemFault" />
    </wsdl:operation>
    <wsdl:operation name="renameUser">
      <wsdl:input name="renameUserRequest" message="impl:renameUserRequest" />
      <wsdl:output name="renameUserResponse" message="impl:renameUserResponse" />
      <wsdl:fault name="UMSServiceFault" message="impl:UMSServiceFault" />
      <wsdl:fault name="UMSSystemFault" message="impl:UMSSystemFault" />
    </wsdl:operation>
    <wsdl:operation name="modifyUser">
      <wsdl:input name="modifyUserRequest" message="impl:modifyUserRequest" />
      <wsdl:output name="modifyUserResponse" message="impl:modifyUserResponse" />
      <wsdl:fault name="UMSServiceFault" message="impl:UMSServiceFault" />
      <wsdl:fault name="UMSSystemFault" message="impl:UMSSystemFault" />
    </wsdl:operation>
    <wsdl:operation name="lookupUserByUserId">
      <wsdl:input name="lookupUserByUserIdRequest" message="impl:lookupUserByUserIdRequest" />
      <wsdl:output name="lookupUserByUserIdResponse" message="impl:lookupUserByUserIdResponse" />
      <wsdl:fault name="UMSServiceFault" message="impl:UMSServiceFault" />
      <wsdl:fault name="UMSSystemFault" message="impl:UMSSystemFault" />
    </wsdl:operation>
    <wsdl:operation name="resetPassword">
      <wsdl:input name="resetPasswordRequest" message="impl:resetPasswordRequest" />
      <wsdl:output name="resetPasswordResponse" message="impl:resetPasswordResponse" />
      <wsdl:fault name="UMSServiceFault" message="impl:UMSServiceFault" />
      <wsdl:fault name="UMSSystemFault" message="impl:UMSSystemFault" />
    </wsdl:operation>
    <wsdl:operation name="resetPasswordNexenWhiteLabel">
      <wsdl:input name="resetPasswordNexenWhiteLabelRequest" message="impl:resetPasswordNexenWhiteLabelRequest" />
      <wsdl:output name="resetPasswordNexenWhiteLabelResponse" message="impl:resetPasswordNexenWhiteLabelResponse" />
      <wsdl:fault name="UMSServiceFault" message="impl:UMSServiceFault" />
      <wsdl:fault name="UMSSystemFault" message="impl:UMSSystemFault" />
    </wsdl:operation>
    <wsdl:operation name="searchByFilter">
      <wsdl:input name="searchByFilterRequest" message="impl:searchByFilterRequest" />
      <wsdl:output name="searchByFilterResponse" message="impl:searchByFilterResponse" />
      <wsdl:fault name="UMSServiceFault" message="impl:UMSServiceFault" />
      <wsdl:fault name="UMSSystemFault" message="impl:UMSSystemFault" />
    </wsdl:operation>
    <wsdl:operation name="terminateUser">
      <wsdl:input name="terminateUserRequest" message="impl:terminateUserRequest" />
      <wsdl:output name="terminateUserResponse" message="impl:terminateUserResponse" />
      <wsdl:fault name="UMSServiceFault" message="impl:UMSServiceFault" />
      <wsdl:fault name="UMSSystemFault" message="impl:UMSSystemFault" />
    </wsdl:operation>
    <wsdl:operation name="setAccountStatus">
      <wsdl:input name="setAccountStatusRequest" message="impl:setAccountStatusRequest" />
      <wsdl:output name="setAccountStatusResponse" message="impl:setAccountStatusResponse" />
      <wsdl:fault name="UMSServiceFault" message="impl:UMSServiceFault" />
      <wsdl:fault name="UMSSystemFault" message="impl:UMSSystemFault" />
    </wsdl:operation>
    <wsdl:operation name="preValidatePassword">
      <wsdl:input name="preValidatePasswordRequest" message="impl:preValidatePasswordRequest" />
      <wsdl:output name="preValidatePasswordResponse" message="impl:preValidatePasswordResponse" />
      <wsdl:fault name="UMSServiceFault" message="impl:UMSServiceFault" />
      <wsdl:fault name="UMSSystemFault" message="impl:UMSSystemFault" />
    </wsdl:operation>
    <wsdl:operation name="resetPasswordAndSuppressEmail">
      <wsdl:input name="resetPasswordAndSuppressEmailRequest" message="impl:resetPasswordAndSuppressEmailRequest" />
      <wsdl:output name="resetPasswordAndSuppressEmailResponse" message="impl:resetPasswordAndSuppressEmailResponse" />
      <wsdl:fault name="UMSServiceFault" message="impl:UMSServiceFault" />
      <wsdl:fault name="UMSSystemFault" message="impl:UMSSystemFault" />
    </wsdl:operation>
    <wsdl:operation name="addUserSimplified">
      <wsdl:input name="addUserSimplifiedRequest" message="impl:addUserSimplifiedRequest" />
      <wsdl:output name="addUserSimplifiedResponse" message="impl:addUserSimplifiedResponse" />
      <wsdl:fault name="UMSServiceException" message="impl:UMSServiceException" />
    </wsdl:operation>
    <wsdl:operation name="addUserToEcomGroups">
      <wsdl:input name="addUserToEcomGroupsRequest" message="impl:addUserToEcomGroupsRequest" />
      <wsdl:output name="addUserToEcomGroupsResponse" message="impl:addUserToEcomGroupsResponse" />
      <wsdl:fault name="UMSServiceFault" message="impl:UMSServiceFault" />
      <wsdl:fault name="UMSSystemFault" message="impl:UMSSystemFault" />
    </wsdl:operation>
    <wsdl:operation name="removeUserFromEcomGroups">
      <wsdl:input name="removeUserFromEcomGroupsRequest" message="impl:removeUserFromEcomGroupsRequest" />
      <wsdl:output name="removeUserFromEcomGroupsResponse" message="impl:removeUserFromEcomGroupsResponse" />
      <wsdl:fault name="UMSServiceFault" message="impl:UMSServiceFault" />
      <wsdl:fault name="UMSSystemFault" message="impl:UMSSystemFault" />
    </wsdl:operation>
    <wsdl:operation name="setAccountStatusRsaSync">
      <wsdl:input name="setAccountStatusRsaSyncRequest" message="impl:setAccountStatusRsaSyncRequest" />
      <wsdl:output name="setAccountStatusRsaSyncResponse" message="impl:setAccountStatusRsaSyncResponse" />
      <wsdl:fault name="UMSServiceFault" message="impl:UMSServiceFault" />
      <wsdl:fault name="UMSSystemFault" message="impl:UMSSystemFault" />
    </wsdl:operation>
    <wsdl:operation name="renameUserRSASync">
      <wsdl:input name="renameUserRSASyncRequest" message="impl:renameUserRSASyncRequest" />
      <wsdl:output name="renameUserRSASyncResponse" message="impl:renameUserRSASyncResponse" />
      <wsdl:fault name="UMSServiceFault" message="impl:UMSServiceFault" />
      <wsdl:fault name="UMSSystemFault" message="impl:UMSSystemFault" />
    </wsdl:operation>
    <wsdl:operation name="terminateUserRSASync">
      <wsdl:input name="terminateUserRSASyncRequest" message="impl:terminateUserRSASyncRequest" />
      <wsdl:output name="terminateUserRSASyncResponse" message="impl:terminateUserRSASyncResponse" />
      <wsdl:fault name="UMSServiceFault" message="impl:UMSServiceFault" />
      <wsdl:fault name="UMSSystemFault" message="impl:UMSSystemFault" />
    </wsdl:operation>
    <wsdl:operation name="lookupUserByUserIdRsaOrg">
      <wsdl:input name="lookupUserByUserIdRsaOrgRequest" message="impl:lookupUserByUserIdRsaOrgRequest" />
      <wsdl:output name="lookupUserByUserIdRsaOrgResponse" message="impl:lookupUserByUserIdRsaOrgResponse" />
      <wsdl:fault name="UMSServiceFault" message="impl:UMSServiceFault" />
      <wsdl:fault name="UMSSystemFault" message="impl:UMSSystemFault" />
    </wsdl:operation>
    <wsdl:operation name="removeUserFromRSAGroup">
      <wsdl:input name="removeUserFromRSAGroupRequest" message="impl:removeUserFromRSAGroupRequest" />
      <wsdl:output name="removeUserFromRSAGroupResponse" message="impl:removeUserFromRSAGroupResponse" />
      <wsdl:fault name="UMSServiceFault" message="impl:UMSServiceFault" />
      <wsdl:fault name="UMSSystemFault" message="impl:UMSSystemFault" />
    </wsdl:operation>
    <wsdl:operation name="getLastUpdatedAdmin">
      <wsdl:input name="getLastUpdatedAdminRequest" message="impl:getLastUpdatedAdminRequest" />
      <wsdl:output name="getLastUpdatedAdminResponse" message="impl:getLastUpdatedAdminResponse" />
      <wsdl:fault name="UMSServiceFault" message="impl:UMSServiceFault" />
      <wsdl:fault name="UMSSystemFault" message="impl:UMSSystemFault" />
    </wsdl:operation>
    <wsdl:operation name="addUserToLDAPGroup">
      <wsdl:input name="addUserToLDAPGroupRequest" message="impl:addUserToLDAPGroupRequest" />
      <wsdl:output name="addUserToLDAPGroupResponse" message="impl:addUserToLDAPGroupResponse" />
      <wsdl:fault name="UMSServiceFault" message="impl:UMSServiceFault" />
      <wsdl:fault name="UMSSystemFault" message="impl:UMSSystemFault" />
    </wsdl:operation>
    <wsdl:operation name="removeUserFromLDAPGroup">
      <wsdl:input name="removeUserFromLDAPGroupRequest" message="impl:removeUserFromLDAPGroupRequest" />
      <wsdl:output name="removeUserFromLDAPGroupResponse" message="impl:removeUserFromLDAPGroupResponse" />
      <wsdl:fault name="UMSServiceFault" message="impl:UMSServiceFault" />
      <wsdl:fault name="UMSSystemFault" message="impl:UMSSystemFault" />
    </wsdl:operation>
    <wsdl:operation name="setAccountStatusAndResetPassword">
      <wsdl:input name="setAccountStatusAndResetPasswordRequest" message="impl:setAccountStatusAndResetPasswordRequest" />
      <wsdl:output name="setAccountStatusAndResetPasswordResponse" message="impl:setAccountStatusAndResetPasswordResponse" />
      <wsdl:fault name="UMSServiceFault" message="impl:UMSServiceFault" />
      <wsdl:fault name="UMSSystemFault" message="impl:UMSSystemFault" />
    </wsdl:operation>
    <wsdl:operation name="modifyUserEmailAddressSuppressEmail">
      <wsdl:input name="modifyUserEmailAddressSuppressEmailRequest" message="impl:modifyUserEmailAddressSuppressEmailRequest" />
      <wsdl:output name="modifyUserEmailAddressSuppressEmailResponse" message="impl:modifyUserEmailAddressSuppressEmailResponse" />
      <wsdl:fault name="UMSServiceFault" message="impl:UMSServiceFault" />
      <wsdl:fault name="UMSSystemFault" message="impl:UMSSystemFault" />
    </wsdl:operation>
    <wsdl:operation name="modifyUserEmailAddressNexenWhiteLabel">
      <wsdl:input name="modifyUserEmailAddressNexenWhiteLabelRequest" message="impl:modifyUserEmailAddressNexenWhiteLabelRequest" />
      <wsdl:output name="modifyUserEmailAddressNexenWhiteLabelResponse" message="impl:modifyUserEmailAddressNexenWhiteLabelResponse" />
      <wsdl:fault name="UMSServiceFault" message="impl:UMSServiceFault" />
      <wsdl:fault name="UMSSystemFault" message="impl:UMSSystemFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LDAPServiceDelegateSoapBinding" type="impl:LDAPServiceDelegate">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addUser">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/addUser" />
      <wsdl:input name="addUserRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addUserResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceFault">
        <wsdlsoap:fault use="literal" name="UMSServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UMSSystemFault">
        <wsdlsoap:fault use="literal" name="UMSSystemFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeUserFromGroups">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/removeUserFromGroups" />
      <wsdl:input name="removeUserFromGroupsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeUserFromGroupsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceFault">
        <wsdlsoap:fault use="literal" name="UMSServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UMSSystemFault">
        <wsdlsoap:fault use="literal" name="UMSSystemFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addUserToGroups">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/addUserToGroups" />
      <wsdl:input name="addUserToGroupsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addUserToGroupsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceFault">
        <wsdlsoap:fault use="literal" name="UMSServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UMSSystemFault">
        <wsdlsoap:fault use="literal" name="UMSSystemFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="renameUser">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/renameUser" />
      <wsdl:input name="renameUserRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="renameUserResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceFault">
        <wsdlsoap:fault use="literal" name="UMSServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UMSSystemFault">
        <wsdlsoap:fault use="literal" name="UMSSystemFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifyUser">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/modifyUser" />
      <wsdl:input name="modifyUserRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="modifyUserResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceFault">
        <wsdlsoap:fault use="literal" name="UMSServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UMSSystemFault">
        <wsdlsoap:fault use="literal" name="UMSSystemFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lookupUserByUserId">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/lookupUserByUserId" />
      <wsdl:input name="lookupUserByUserIdRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="lookupUserByUserIdResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceFault">
        <wsdlsoap:fault use="literal" name="UMSServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UMSSystemFault">
        <wsdlsoap:fault use="literal" name="UMSSystemFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="resetPassword">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/resetPassword" />
      <wsdl:input name="resetPasswordRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="resetPasswordResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceFault">
        <wsdlsoap:fault use="literal" name="UMSServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UMSSystemFault">
        <wsdlsoap:fault use="literal" name="UMSSystemFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="resetPasswordNexenWhiteLabel">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/resetPasswordNexenWhiteLabel" />
      <wsdl:input name="resetPasswordNexenWhiteLabelRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="resetPasswordNexenWhiteLabelResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceFault">
        <wsdlsoap:fault use="literal" name="UMSServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UMSSystemFault">
        <wsdlsoap:fault use="literal" name="UMSSystemFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchByFilter">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/searchByFilter" />
      <wsdl:input name="searchByFilterRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchByFilterResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceFault">
        <wsdlsoap:fault use="literal" name="UMSServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UMSSystemFault">
        <wsdlsoap:fault use="literal" name="UMSSystemFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="terminateUser">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/terminateUser" />
      <wsdl:input name="terminateUserRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="terminateUserResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceFault">
        <wsdlsoap:fault use="literal" name="UMSServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UMSSystemFault">
        <wsdlsoap:fault use="literal" name="UMSSystemFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setAccountStatus">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/setAccountStatus" />
      <wsdl:input name="setAccountStatusRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setAccountStatusResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceFault">
        <wsdlsoap:fault use="literal" name="UMSServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UMSSystemFault">
        <wsdlsoap:fault use="literal" name="UMSSystemFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="preValidatePassword">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/preValidatePassword" />
      <wsdl:input name="preValidatePasswordRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="preValidatePasswordResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceFault">
        <wsdlsoap:fault use="literal" name="UMSServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UMSSystemFault">
        <wsdlsoap:fault use="literal" name="UMSSystemFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="resetPasswordAndSuppressEmail">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/resetPasswordAndSuppressEmail" />
      <wsdl:input name="resetPasswordAndSuppressEmailRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="resetPasswordAndSuppressEmailResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceFault">
        <wsdlsoap:fault use="literal" name="UMSServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UMSSystemFault">
        <wsdlsoap:fault use="literal" name="UMSSystemFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addUserSimplified">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/addUserSimplified" />
      <wsdl:input name="addUserSimplifiedRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addUserSimplifiedResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceException">
        <wsdlsoap:fault use="literal" name="UMSServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addUserToEcomGroups">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/addUserToEcomGroups" />
      <wsdl:input name="addUserToEcomGroupsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addUserToEcomGroupsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceFault">
        <wsdlsoap:fault use="literal" name="UMSServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UMSSystemFault">
        <wsdlsoap:fault use="literal" name="UMSSystemFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeUserFromEcomGroups">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/removeUserFromEcomGroups" />
      <wsdl:input name="removeUserFromEcomGroupsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeUserFromEcomGroupsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceFault">
        <wsdlsoap:fault use="literal" name="UMSServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UMSSystemFault">
        <wsdlsoap:fault use="literal" name="UMSSystemFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setAccountStatusRsaSync">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/setAccountStatusRsaSync" />
      <wsdl:input name="setAccountStatusRsaSyncRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setAccountStatusRsaSyncResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceFault">
        <wsdlsoap:fault use="literal" name="UMSServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UMSSystemFault">
        <wsdlsoap:fault use="literal" name="UMSSystemFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="renameUserRSASync">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/renameUserRSASync" />
      <wsdl:input name="renameUserRSASyncRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="renameUserRSASyncResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceFault">
        <wsdlsoap:fault use="literal" name="UMSServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UMSSystemFault">
        <wsdlsoap:fault use="literal" name="UMSSystemFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="terminateUserRSASync">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/terminateUserRSASync" />
      <wsdl:input name="terminateUserRSASyncRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="terminateUserRSASyncResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceFault">
        <wsdlsoap:fault use="literal" name="UMSServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UMSSystemFault">
        <wsdlsoap:fault use="literal" name="UMSSystemFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="lookupUserByUserIdRsaOrg">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/lookupUserByUserIdRsaOrg" />
      <wsdl:input name="lookupUserByUserIdRsaOrgRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="lookupUserByUserIdRsaOrgResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceFault">
        <wsdlsoap:fault use="literal" name="UMSServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UMSSystemFault">
        <wsdlsoap:fault use="literal" name="UMSSystemFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeUserFromRSAGroup">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/removeUserFromRSAGroup" />
      <wsdl:input name="removeUserFromRSAGroupRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeUserFromRSAGroupResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceFault">
        <wsdlsoap:fault use="literal" name="UMSServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UMSSystemFault">
        <wsdlsoap:fault use="literal" name="UMSSystemFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLastUpdatedAdmin">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/getLastUpdatedAdmin" />
      <wsdl:input name="getLastUpdatedAdminRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getLastUpdatedAdminResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceFault">
        <wsdlsoap:fault use="literal" name="UMSServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UMSSystemFault">
        <wsdlsoap:fault use="literal" name="UMSSystemFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addUserToLDAPGroup">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/addUserToLDAPGroup" />
      <wsdl:input name="addUserToLDAPGroupRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addUserToLDAPGroupResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceFault">
        <wsdlsoap:fault use="literal" name="UMSServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UMSSystemFault">
        <wsdlsoap:fault use="literal" name="UMSSystemFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeUserFromLDAPGroup">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/removeUserFromLDAPGroup" />
      <wsdl:input name="removeUserFromLDAPGroupRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeUserFromLDAPGroupResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceFault">
        <wsdlsoap:fault use="literal" name="UMSServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UMSSystemFault">
        <wsdlsoap:fault use="literal" name="UMSSystemFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setAccountStatusAndResetPassword">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/setAccountStatusAndResetPassword" />
      <wsdl:input name="setAccountStatusAndResetPasswordRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setAccountStatusAndResetPasswordResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceFault">
        <wsdlsoap:fault use="literal" name="UMSServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UMSSystemFault">
        <wsdlsoap:fault use="literal" name="UMSSystemFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifyUserEmailAddressSuppressEmail">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/modifyUserEmailAddressSuppressEmail" />
      <wsdl:input name="modifyUserEmailAddressSuppressEmailRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="modifyUserEmailAddressSuppressEmailResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceFault">
        <wsdlsoap:fault use="literal" name="UMSServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UMSSystemFault">
        <wsdlsoap:fault use="literal" name="UMSSystemFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifyUserEmailAddressNexenWhiteLabel">
      <wsdlsoap:operation soapAction="http://service.ums.eb0.mellon.com/modifyUserEmailAddressNexenWhiteLabel" />
      <wsdl:input name="modifyUserEmailAddressNexenWhiteLabelRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="modifyUserEmailAddressNexenWhiteLabelResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UMSServiceFault">
        <wsdlsoap:fault use="literal" name="UMSServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UMSSystemFault">
        <wsdlsoap:fault use="literal" name="UMSSystemFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LDAPServiceDelegateService">
    <wsdl:port name="LDAPServiceDelegate" binding="impl:LDAPServiceDelegateSoapBinding">
      <wsdlsoap:address location="http://ums.test.bnymellon.net/ums/services/LDAPServiceDelegate" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>